.Select-control {
  background-color: rgb(25, 25, 25) !important;
  color:hotpink;
}  

.Select-value-label {
  color: hotpink !important;
}

.Select-menu-outer {
  background-color: rgb(25, 25, 25);
  color: hotpink;
}    

#langue_dropdown .Select-value-label {
  color: rgb(37, 224, 37) !important;
}    

#langue_dropdown .Select-control {
  background-color: red !important;
  color:black;
}  

#langue_dropdown .Select-menu-outer {
  background-color: rgb(25, 25, 25);
  color: black;
}  